body {
    margin: 0;

}

.header {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.leftContent {
    font-size: 30px;
    color: red;
}

.rightContent button {
    background-color: #F16D7F;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.rightContent button:hover {
    background-color: transparent;
    border-color: #FFFF00;
    color: #FFFF00;
}

.goods-list {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 80px;
}

.product-item {
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 13px 16px;
    text-align: center;
}

.product-item button {
    background: #F16D7F;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: transparent;
    color: red;
}